@tailwind base;
@tailwind components;
@tailwind utilities;

/* Clash Regular Font */
@font-face {
  font-family: "Clash";
  src: url("./assets/fonts/Clash-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}